<!-- templates/playlists_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{playlist.title}}</h1>
        {% if playlist.created_at %}
        <p class='text-muted'>Created on: {{ playlist.created_at }}</p>
        {% endif %}
        <h2>{{ playlist.description }}</h2>
            {% for video in playlist.videos %}
            <iframe width='420' height='315' src='{{ video }}'></iframe>

            <hr>
            {% include 'partials/comment_form.html' %}

            <!-- show comments -->
            {% for comment in comments %}
                {% include 'partials/comment.html' %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
<hr>
<hr>
<p><a href='/playlists/{{ playlist._id }}/edit'>Edit</a></p>
<!-- Delete button -->
<p><form method='POST' action='/playlists/{{ playlist._id }}/delete'>
        <input type='hidden' name='_method' value='DELETE'>
        <button class='btn btn-primary'>Delete</button>
        </form></p>

        <hr>

        <!-- Comment Form -->
        {% include 'partials/comment_form.html' %}
{% endblock %}